In [22]:
import pandas as pd
data=['ohio','bi','ai','ki']
data1={'state':data,
      'year':[6,2,3,4],
       'pop':[1.2,1.4,1.7,1.9]}
data2=pd.DataFrame(data1,index=['hi',2,3,4],columns=['state','pop','year','hi'])
print(data2)
data2.columns
data2.index

   state  pop  year   hi
hi  ohio  1.2     6  NaN
2     bi  1.4     2  NaN
3     ai  1.7     3  NaN
4     ki  1.9     4  NaN

Index(['hi', 2, 3, 4], dtype='object')

In [18]:
data2.head()

   state  pop  year   hi
hi  ohio  1.2     6  NaN
2     bi  1.4     2  NaN
3     ai  1.7     3  NaN
4     ki  1.9     4  NaN

In [29]:
data1['state']
data2["state"]

hi    ohio
2       bi
3       ai
4       ki
Name: state, dtype: object

In [30]:
data2.state

hi    ohio
2       bi
3       ai
4       ki
Name: state, dtype: object

In [61]:
data2.iloc[0]
print(len(data2))
z=[1,2,3,4]
data2['hi']=42
#print(data2)
print(data2['pop'])

4
hi    1.2
2     1.4
3     1.7
4     1.9
Name: pop, dtype: float64

In [74]:
import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.randn(4,3),
                  columns=list('bde'),
                   index=['a','b','c','d'])
print(frame)
#print(frame["d"].min())     \
f=lambda x: x.max()-x.min()
df=frame.apply(f)
print(df, type(df))

print(frame.loc['a'][:])
print(frame.iloc[0][2])

          b         d         e
a -1.122861  2.252759 -0.271866
b -2.092891  0.104180 -1.250984
c  0.470464  0.241757  0.104526
d  2.433683 -2.406598  0.851009
b    4.526575
d    4.659357
e    2.101993
dtype: float64 <class 'pandas.core.series.Series'>
b   -1.122861
d    2.252759
e   -0.271866
Name: a, dtype: float64
-0.2718664559587944

SyntaxError: invalid syntax (<ipython-input-77-aa65fd18367e>, line 5)